.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

.container {
  display: table;
  border-spacing: 5rem;
}

.containerLeft {
  background-color: #2b2d42;
  border-radius: 2rem;
  display: table-cell;
  padding: 2rem;
  vertical-align: top;
  width: 225px;
}

.userProfile {
  display: block;
  width: 224px;
}

.userImage {
  display: block;
  text-align: center;
}

.profilePic {
  width: 14rem;
  height: 120%;
  border-radius: 1rem;
}

.profilePic:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.status {
  list-style: none;
}

.status .username {
  font-size: 30px;
}

.status span {
  font-size: 20px;
}

.buttons {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button {
  width: 110%;
  background-color: #8d99ae;
  border-radius: 20rem;
  border: none;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #404040;
  border: none;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.containerRight {
  background-color: #2b2d42;
  border-radius: 2rem;
  padding: 2rem;
  display: table-cell;
  vertical-align: top;
}

.aboutMe {
  display: block;
  text-align: center;
}

/*.banner {
  width: 100%;
  height: 28rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}*/

.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.usersTable th {
  background-color: #8d99ae;
  padding: 10px;
  text-align: left;
}

.usersTable td {
  padding: 10px;
  border-bottom: 1px solid #8d99ae;
}

.usersTable tr:last-child td {
  border-bottom: none;
}

.usersTable tr:hover {
  background-color: #8d99ae;
}

.deleteButton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.makeAdminButton,
.removeAdminButton {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.removeAdminButton {
  background-color: #f44336;
}

.filterButtons {
  margin-top: 10px;
}

.filterButton {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #8d99ae;
  color: #ffffff;
}

.filterButton.selected {
  background-color: #8d99ae;
  color: #ffffff;
}

.filterButton:hover {
  background-color: #404040;
  border: none;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.dashboard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard p {
  font-size: 30px;
}

.dashboard h1 {
  font-size: 40px;
}
