.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

.container {
  display: table;
  border-spacing: 5rem;
}

.containerLeft {
  width: 30%;
  background-color: #2b2d42;
  border-radius: 2rem;
  display: table-cell;
  padding: 2rem;
  vertical-align: top;
  width: 225px;
}

.userProfile {
  display: block;
  width: 224px;
}

.userImage {
  display: block;
  text-align: center;
}

.profilePic {
  width: 14rem;
  height: 120%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.profilePic:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.status {
  list-style: none;
}

.title {
  font-weight: bold;
}

.status span {
  font-size: 30px;
}

.ceva {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #d90429;
  border-radius: 20rem;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #8d99ae;
  border: none;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.containerRight {
  background-color: #2b2d42;
  border-radius: 2rem;
  padding: 2rem;
  display: table-cell;
  vertical-align: top;
}

.aboutMe {
  display: block;
  text-align: center;
}

.banner {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.containerRight h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.userStatisticsFirst {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.userStatisticsFirst div {
  background-color: #8d99ae;
  padding: 15px 30px;
  border-radius: 1rem;
}

ul {
  list-style: none;
}

.statsMoviesOrShows:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.statsMoviesOrShows {
  width: 65%;
}

.statScore {
  display: flex;
  justify-content: space-between;
}

.userStatisticsSecond {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.userStatisticsSecond div {
  background-color: #8d99ae;
  padding: 15px 30px;
  border-radius: 1rem;
}

.usernameUpdate {
  display: flex;
  align-items: center;
}

.usernameInput {
  margin-right: 10px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.updateButton {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.editButton {
  margin-left: 1rem;
  padding: 6px 12px;
  border: none;
  border-radius: 6rem;
  background-color: #2b2d42;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
